atari-py==0.2.6
cached-property==1.5.2
certifi==2020.12.5
cloudpickle==1.6.0
cycler==0.10.0
decorator==4.4.2
future==0.18.2
gtimer==1.0.0b5
gym==0.18.0
h5py==3.1.0
imageio==2.9.0
kiwisolver==1.3.1
matplotlib==3.3.4
networkx==2.5.1
numpy==1.19.5
opencv-python==4.5.1.48
pandas==1.1.5
Pillow==7.2.0
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
tifffile==2020.9.3
torch==1.2.0
torchvision==0.4.0
